/* CSS declarations go here */
body {
    font-family: sans-serif;
    background: #EAEFF9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
p {
    float:left;
    margin:0;
    padding:3px;
}
.KejjeYr{
    display:none;
}
.level0{
    clear:both;
}
.level1{
    clear:both;
}
.kijiFoot{
    display:none;
}

table, th, td {
    text-align: center;
    border-spacing: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}
p.reading{
    font-weight: bold;
    font-size: 1.5em;
    clear: both;
}
p.level0{
    font-weight:bold;
}
p.level1{
    text-indent:10px;
}
p.level1::before{
    content:'- ';
}
hr {
    clear:both;
}
section {
    clear:both;
    background: #666;
    color: white;
    padding: 2px;
    margin-top:5px;
    margin-bottom: 5px;
}
header {
    background: #222;
    color: #FFF;
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: #777;
    border: none;
    padding-right: 80px;
    font-size: 1em;
    padding-left: 10px;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    border-bottom: #eee solid 1px;
    overflow:hidden;
    display:flex;
}

li .text {
    font-size: 2em;
    font-weight: bold;
font-family: 'Hiragino Mincho Pro', 'MS PMincho', serif;
}

div.left {
    float:left;
    width:200px;
    background:#ccc;
    padding: 20px;
    padding-top:10px;
    padding-bottom:10px;
}

div.right {
    float:left;
    width: 90%;
    padding: 20px;
    padding-top:10px;
    padding-bottom:10px;

}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
#word_table td, #word_table th{
    white-space: nowrap;
}

#word_table td.katsuyo p{
    text-align:right;
}

span.accent_plain{
    border-top: solid 1px black;
    padding-top:1px;
}

span.accent_top{
    border-top: solid 1px black;
    border-right: solid 1px black;
    padding-top:1px;
    margin-right: 1px;
    padding-right: 1px;
}

span.unvoiced{
    background-color: #C3C3C3;
}

#word_table{
    border-collapse: separate;
    border-spacing: 4px;
}

#word_table th,#word_table td{
    vertical-align: middle;
    padding:4px;
}

#word_table td{
    font-size: 14px;
    padding-left: 5px;
    border-radius: 5px;
}
#word_table td.katsuyo{
    line-height: 1.5em;
}
#word_table th{
    font-weight: bold;
    padding: 3px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

#word_table p.midashi_word{
    font-weight: bold;
}

#word_table p.midashi_detail{
    padding-left: 5px;
    color:#BBB;
    font-size: xx-small;
}

#search_visibility > div{
    float:left;
}
#search_visibility > div#search_print{
    float: right;
}
#search_visibility > div#search_print > a{
    display: block;
    border-radius: 2px;
    padding:2px;
    font-weight: bold;
}
#search_visibility > div#search_print > a:hover{
    color: red;
}

#search_visibility_ul{
    height:23px;
}

#search_visibility_ul li label{
    display:block;
    font-size: small;
    border-radius: 2px;
    padding:2px;
}
#search_visibility_ul li{
    float: left;
    margin-right: 3px;
}

#search_visibility_ul li label:hover{
    background-color: #FED06A;
}

#visibility_changeall{
    margin-top: 2px;
    margin-right: 10px;
}

.katsuyo_accent{
    font-family:'Hiragino Kaku Gothic Pro',"ＭＳ ゴシック",monospace,sans-serif;
}

#word_table td.katsuyo .katsuyo_proc_accent_curve{
    padding-top:2px;
    text-align:right;
}
#word_table .visible a{
    display:block;
    text-indent:-9999px;
    background-image:url("../img/x.png");
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width:10px;
    padding:2px;
    height:10px;
}
#word_table th.visible,
#word_table td.visible{
    border:none;
    padding:0px;
    margin:0px;
}
.phrasing_text{
    font-family:'Hiragino Kaku Gothic Pro',"ＭＳ ゴシック",monospace,sans-serif;
    font-size:20px;
}
.phrasing_subscript{
    color:gray;
    font-family:'Hiragino Kaku Gothic Pro',"ＭＳ ゴシック",monospace,sans-serif;
    font-size:16px;
    text-align:center;
    margin-top: 0.5em;
    margin-bottom: -1em;
}
span.char{
    display:inline-block;
    width:1em;
    text-align:center;
}

.phrasing_accent_curve{
    page-break-after:avoid;
}
.phrasing_text{
    page-break-before:avoid;
    page-break-inside:avoid;
}

.phrasing_phrase_wrapper{
    float:left;
    margin: 10px;
    page-break-inside:avoid;
}
.phrasing_text{
    font-size:20px;
    white-space:nowrap;
    font-family:'Hiragino Kaku Gothic Pro',"ＭＳ ゴシック",monospace,sans-serif;
}

.phrasing_text span.accent_top span.char{
    width:19px;
}
.phrasing_text span.accent_top{
    margin-right:0px;
}

